<article class="card" (click)="showDetails()">
  <div class="row">
    <div class="col-4">
      <div class="card-img"><img class="img-fluid img-responsive card-img" src="{{ item.img }}" *ngIf="item.img" /></div>
      <div class="card-img"><img class="img-fluid img-responsive card-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARIAAAC4CAMAAAAYGZMtAAAAA1BMVEX///+nxBvIAAAASElEQVR4nO3BgQAAAADDoPlT3+AEVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAB8A8WoAAHxScUAAAAAAElFTkSuQmCC"   *ngIf="!item.img" /></div>
    </div>

    <div class="col">
      <div class="text-overflow">
        <div class="row">
          <div class="card-item-name">{{ item.name }}</div>
        </div>
        <div class="row">
          <div class="card-item-description">{{ item.description }}</div>
        </div>
        <div class="row">
          <div class="card-item-description">{{ item.size }} ml</div>
        </div>
      </div>
    </div>
  </div>
</article>
