.title{
    font-size: 50px;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    display: block;
    text-align: center;
    margin: 20px 0 10px 0;
}

.order-name{
    font-size: 20px;
    color: #010101;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    display: block;
    text-align: center;
    margin: 20px 0 10px 0;
}

.row{
    padding: 10px;
}

.completed{
    background-color: rgb(53, 173, 89);
    padding-bottom: 5px;
}
